image: sirehna/dind
services:
  - docker:dind

stages:
  - lint
  - build
  - test
  - doc
  - deploy

default:
  before_script:
    - make update-submodules
    - make headers
  tags:
    - docker 
    - linux


after_script:
  - docker ps
  - make clean
  - docker ps
  - docker images

variables:
  DEPLOYED_DOCKER_IMAGES: xdyn xdyn-debian11-py309 xdyn-ubuntu2204-py310

lint:
  stage: lint
  script:
    - make lint

build:windows:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" windows
    - mv build_win_posix/xdyn.zip .
  artifacts:
    when: on_success
    paths:
      - xdyn.zip

build:debian9-release:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_9_release_gcc_6
  only:
    variables:
      - $NIGHTLY_BUILD

build:debian10-release:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_10_release_gcc_8
  only:
    variables:
      - $NIGHTLY_BUILD

build:debian10-coverage:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_10_coverage_gcc_8
  only:
    variables:
      - $NIGHTLY_BUILD

build:debian10-profile:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_10_profile_gcc_8
  only:
    variables:
      - $NIGHTLY_BUILD

build:debian11-release:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_11_release_gcc_10
    - mv build_deb11/xdyn.deb .
  artifacts:
    when: on_success
    paths:
      - xdyn.deb
  only:
    variables:
      - $NIGHTLY_BUILD

build:debian11-release-python-all:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_11_release_gcc_10_wrapper_python_all
    - mv build_deb11_pywrapper/xdyn.deb .
    - mv code/xdyn_wrapper_python/*.whl .
    - docker build . --tag xdyn
  artifacts:
    when: on_success
    paths:
      - xdyn.deb
      - xdyn*.whl

build:debian11-release-clang14:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian11_clang
    - mv build_deb11_clang14/xdyn.deb .
  artifacts:
    when: on_success
    paths:
      - xdyn.deb

build:debian11-debug:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" debian_11_debug_gcc_10
  only:
    variables:
      - $NIGHTLY_BUILD

build:ubuntu-18-04-intel-22-02-release:
  stage: build
  script:
    - make NB_OF_PARALLEL_BUILDS="-j 1" ubuntu1804-intel
    - mv build_ubuntu1804_intel/xdyn.deb xdyn_ubuntu1804_intel.deb
  artifacts:
    when: on_success
    paths:
      - xdyn_ubuntu1804_intel.deb
  only:
    variables:
      - $NIGHTLY_BUILD

build:ubuntu-22-04-gcc11-release:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" ubuntu_22_04_release_gcc_11
     - mv build_ubuntu2204/xdyn.deb xdyn_ubuntu2204.deb
   artifacts:
     when: on_success
     paths:
     - xdyn_ubuntu2204.deb
   only:
       variables:
        - $NIGHTLY_BUILD

integration tests:
  stage: test
  script:
    - mkdir -p build_deb11
    - mv xdyn.deb build_deb11
    - make all_docker_images
    - make -C integration_tests
    - mv build_deb11/xdyn.deb .
  artifacts:
    when: on_success
    paths:
      - xdyn.deb

doc:
  stage: doc
  script:
    - mkdir -p build_deb11
    - mv xdyn.deb build_deb11
    - make all_docker_images
    - make doc -W build-debian
  dependencies:
    - build:debian11-release-clang14
  artifacts:
    when: on_success
    paths:
      - doc_fr.html
      - doc_training_remote_models.pptx

pages:
  stage: deploy
  dependencies:
    - doc
  script:
    - mkdir -p public
    - mv doc_fr.html public/index.html
  artifacts:
    when: on_success
    paths:
      - public

Deploy to test tag:
  stage: deploy
  variables:
    VERSION: test
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  script:
    - >
      for DOCKER_IMAGE in ${DEPLOYED_DOCKER_IMAGES} ; do
         echo "Tagging ${DOCKER_IMAGE} -> ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}"
         docker tag ${DOCKER_IMAGE} ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}
         echo "Pushing ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}"
         docker push ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}
      done
  only:
    variables:
      - $CI_REGISTRY_PASSWORD
  except:
    - tags
    - master

Deploy to beta:
  stage: deploy
  variables:
    VERSION: beta
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  script:
    - >
      for DOCKER_IMAGE in ${DEPLOYED_DOCKER_IMAGES} ; do
         echo "Tagging ${DOCKER_IMAGE} -> ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}"
         docker tag ${DOCKER_IMAGE} ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}
         echo "Pushing ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}"
         docker push ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}
      done
  only:
    variables:
      - $CI_REGISTRY_PASSWORD
    refs:
      - master
  except:
    - tags

Deploy tagged version:
  stage: deploy
  variables:
    VERSION: $CI_COMMIT_REF_SLUG
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  script:
    - >
      for DOCKER_IMAGE in ${DEPLOYED_DOCKER_IMAGES} ; do
         echo "Tagging ${DOCKER_IMAGE} -> ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}"
         docker tag ${DOCKER_IMAGE} ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}
         docker tag ${DOCKER_IMAGE} ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}
         echo "Pushing ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}"
         docker push ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}:${VERSION}
         docker push ${CI_REGISTRY}/sirehna/${DOCKER_IMAGE}
      done
  only:
    variables:
      - $CI_REGISTRY_PASSWORD
    refs:
      - tags
