[submodule "code/ssc"]
path = code/ssc
	url = https://gitlab.com/sirehna_naval_group/sirehna/scientific_computing
[submodule "interfaces"]
path = interfaces
	url = https://gitlab.com/sirehna_naval_group/sirehna/interfaces
[submodule "code/stb"]
	path = code/stb
	url = https://github.com/nothings/stb.git
