image: sirehna/dind
services:
    - docker:dind

stages:
  - lint
  - build
  - test
  - doc
  - deploy

default:
  before_script:
    - make update-submodules
    - make headers

lint:
   stage: lint
   script:
     - make lint

build:windows:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" windows
     - mv build_win_posix/xdyn.zip .
   artifacts:
     when: on_success
     paths:
     - xdyn.zip

build:debian:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian
     - mv build_deb10/xdyn.deb .
   artifacts:
     when: on_success
     paths:
     - xdyn.deb

test:grpc:
    stage: test
    script:
     - docker build . --tag xdyn
     - make docker_grpc_force_model
     - make docker_grpc_waves_model
     - make -C grpc_tests

test:integration:
    stage: test
    script:
     - docker build . --tag xdyn
     - make -C integration_tests

doc:
   stage: doc
   script:
     - mkdir -p build_deb10 && cp xdyn.deb build_deb10/.
     - make doc -W build-debian
   dependencies:
     - build:debian
   artifacts:
     when: on_success
     paths:
     - doc.html

pages:
    stage: deploy
    dependencies:
        - doc
    script:
        - mkdir -p public
        - mv doc.html public/index.html
    artifacts:
        when: on_success
        paths:
            - public

