	
[submodule "code/waves_grpc"]
	path = code/waves_grpc
	url = ../waves_gRPC
[submodule "code/ssc"]
	path = code/ssc
	url = ../scientific_computing
[submodule "interfaces"]
	path = code/interfaces
	url = ../interfaces
