image: sirehna/dind
services:
    - docker:dind

stages:
  - lint
  - build
  - test
  - doc
  - deploy

default:
  before_script:
    - make update-submodules
    - make headers

lint:
   stage: lint
   script:
     - make lint

build:windows:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" windows
     - mv build_win_posix/xdyn.zip .
   artifacts:
     when: on_success
     paths:
     - xdyn.zip

build:debian9-release:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian_9_release_gcc_6
   only:
       variables:
        - $NIGHTLY_BUILD

build:debian10-release:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian_10_release_gcc_8
   only:
       variables:
        - $NIGHTLY_BUILD

build:debian10-coverage:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian_10_coverage_gcc_8
   only:
       variables:
        - $NIGHTLY_BUILD

build:debian10-profile:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian_10_profile_gcc_8
   only:
       variables:
        - $NIGHTLY_BUILD

build:debian11-release:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian_11_release_gcc_10
     - mv build_deb11/xdyn.deb .
   artifacts:
     when: on_success
     paths:
     - xdyn.deb

build:debian11-debug:
   stage: build
   script:
     - make NB_OF_PARALLEL_BUILDS="-j 1" debian_11_debug_gcc_10
   only:
       variables:
        - $NIGHTLY_BUILD

test:grpc:
    stage: test
    script:
     - docker build . --tag xdyn
     - make docker_grpc_force_model
     - make docker_grpc_waves_model
     - make -C grpc_tests

test:integration:
    stage: test
    script:
     - docker build . --tag xdyn
     - make -C integration_tests

doc:
   stage: doc
   script:
     - mkdir -p build_deb11 && cp xdyn.deb build_deb11/.
     - make doc -W build-debian
   dependencies:
     - build:debian11-release
   artifacts:
     when: on_success
     paths:
     - doc.html
     - doc_user/training/remote_models.pptx

pages:
    stage: deploy
    dependencies:
        - doc
    script:
        - mkdir -p public
        - mv doc.html public/index.html
    artifacts:
        when: on_success
        paths:
            - public

Deploy to test tag:
    stage: deploy
    before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
    script:
    - docker build --pull --cache-from "$CI_REGISTRY_IMAGE:test" --tag "$CI_REGISTRY_IMAGE:test" .
    - docker push "$CI_REGISTRY_IMAGE:test"
    only:
        variables:
            - $CI_REGISTRY_PASSWORD
    except:
    - tags
    - master

Deploy to beta:
    stage: deploy
    before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
    script:
    - export VERSION=beta-$(date +%Y-%m-%d)
    - docker build --pull --cache-from "$CI_REGISTRY_IMAGE:test" --tag "$CI_REGISTRY_IMAGE:$VERSION" .
    - docker push "$CI_REGISTRY_IMAGE:$VERSION"
    only:
        variables:
            - $CI_REGISTRY_PASSWORD
        refs:
            - master
    except:
    - tags

Deploy tagged version:
    stage: deploy
    before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
    script:
    - docker build --pull --cache-from "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" --tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    - docker push "$CI_REGISTRY_IMAGE"
    only:
        variables:
            - $CI_REGISTRY_PASSWORD
        refs:
            - tags
