version: '3'
services:
  python-controller:
    image: xdyngrpc-python
    command: -m xdyngrpc.controllers.pid_controller
    user: ${CURRENT_UID}
    environment:
      - no_proxy
  test:
    image: xdyn
    user: ${CURRENT_UID}
    volumes:
      - ./:/opt/share
    working_dir: /opt/share
    environment:
      - no_proxy
    depends_on:
      - python-controller
    entrypoint: >
      wait-for-it python-controller:9002 -s -t 20 --
      xdyn xdyn_param_issue_204.yml --dt 0.1 --tend -5.0 --tstart -10.0
